* {
  font-family: 'Noto Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: #edeff0;
}

.active {
	text-decoration: underline;
}

input [type="text"] {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
}

.pure-g [class *= "pure-u"] {
	font-family: 'Noto Sans', sans-serif;
}